.info {
    margin-left: 10px;
    text-align: center;
    margin: 10px;
}

.lib { 
    display: flex;
    justify-content: center;
}

.local, .btn { 
    margin-left: 5px;
}

.im { 
    height: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img { 
    margin-top: 15px;
    transition: all 2s ease-out;
    background-repeat: no-repeat;
}

.ex { 
    font: 20px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.exp { 
    line-height: 25px;
    font-size: 18px;
    text-align: center;
    transition: all 2s ease-out;
}