*{
    margin: 0px;
    padding: 0px;
}

img{
    display: block;
    width: 100%;
    height: 100%;
}

.section-imageslide{
    position: relative;
    width: 100%;
    margin-top: 20px;
}
.imageslide{
    position: relative;
    overflow: hidden;
}

@media(min-width: 990px){
    .imageslide{
        max-width: 1000px;
        margin: 0 auto;
    }
}

.prev-arrow, .next-arrow{
    position: absolute;
    top: 50%;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}
.next-arrow{
    right: 0;
}

.slide{
    list-style: none;
    display: flex;
    position: relative;
   /*  top: 0;
    left: 0;
    width: 100%;
    height: 100%; */
}
.img{
    margin: 0;
    padding: 0;
    flex-shrink: 0;  /* 탐구 및 정리 */
    flex-basis: 100%; /* 탐구 및 정리 */
}